@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* Custom Scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #15803D; /* Forest Green */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60A5FA; /* Sky Blue on hover */
}